<header>
    <div class="container">

      <img src="assets/ezfit_logo.png" alt="logo" class="logo">


        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">EZ Muscle</a></li>
            <li><a href="#">Gymfinder</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Live Chat</a></li>
            <li><a href="#">Contact Us</a></li>

          </ul>
        </nav>
    </div>
</header>
